<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>ServletPrograms</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>home.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>sFriend</servlet-name>
		<servlet-class>com.controller.ServletEx1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sFriend</servlet-name>
		<url-pattern>/searchFriend</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>actors</servlet-name>
		<servlet-class>com.controller.ServletEx2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>actors</servlet-name>
		<url-pattern>/sActors</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>school</servlet-name>
		<servlet-class>com.controller.ServletEx3</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>school</servlet-name>
		<url-pattern>/schoolDetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>employee</servlet-name>
		<servlet-class>com.controller.EmployeeRegister</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>employee</servlet-name>
		<url-pattern>/EmployeeRegister</url-pattern>
	</servlet-mapping>

</web-app>